<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_6.Properties.Settings.connString" connectionString="Data Source=MSSQL-SERVER\MSSQL_KAB43;Initial Catalog=Sales_Stepanov;Persist Security Info=True;User ID=pks-1-16-user12;Password=***********" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>